<div id="history">
  <ul>
    <li><%= link_to l(@patron.updated_at), @patron -%>
    (<%= t('page.current_version') -%>)</li>
    <%- @patron.versions.reverse.each do |version| -%>
      <li><%= link_to l(version.created_at), patron_path(@patron, :version_id => version.id) -%></li>
    <%- end -%>
  </ul>
</div>
