<div id="related">
  <ul>
    <%- @patron.from_patrons.each do |patron_has_patron| -%>
      <li>
        [P]
        (<%= h(patron_has_patron.patron_relationship_type.display_name.localize) -%>)
        <%= link_to h(patron_has_patron.from_patron.full_name), patron_has_patron.from_patron -%>
      </li>
    <%- end -%>
    <%- @patron.to_patrons.each do |patron_has_patron| -%>
      <li>
        [P]
        (<%= h(patron_has_patron.patron_relationship_type.display_name.localize) -%>)
        <%= link_to h(patron_has_patron.to_patron.full_name), patron_has_patron.to_patron -%>
      </li>
    <%- end -%>
  </ul>
</div>
