<div id="work">
  <ul>
    <%- @works.each do |work| -%>
      <li>
        [W]
        <%= link_to work.original_title, work -%>
        <%= patrons_list(work.patrons) -%>
      </li>
    <%- end -%>
  </ul>
  <%= will_paginate(@works, :param_name => :work_list_page, :class => 'content_pagination digg_pagination') -%>
</div>

