<div id="history">
  <ul>
    <li><%= link_to l(@work.updated_at), @work -%>
    (<%= t('page.current_version') -%>)</li>
    <%- @work.versions.reverse.each do |version| -%>
      <li><%= link_to l(version.created_at), work_path(@work, :version_id => version.id) -%></li>
    <%- end -%>
  </ul>
</div>
