<div class="patron">
  <ul>
    <%- @work.patrons.each do |patron| -%>
      <li>
        [P]
        <%= link_to h(patron.full_name), patron -%>
        (<%= link_to_wikipedia(patron.full_name_without_space) -%>)
      </li>
    <%- end -%>
  </ul>
</div>
