<div id="subject_list">
<h2 class="resource_title"><%= t('page.listing', :model => t('activerecord.models.subject')) -%></h2>
<table class="index">
<%- @subjects.each do |subject| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to h(subject.term), subject -%><br />
    </td>
  </tr>
<%- end -%>
</table>

<%= will_paginate(@subjects, :param_name => :subject_page, :class => 'content_pagination digg_pagination') -%>
</div>
