<div id="subject">
<table class="index">
<%- @subjects.each do |subject| -%>
  <tr class="line<%= cycle("0", "1") -%>">
    <td>
      <%= link_to subject.term, subject -%><br />
    </td>
  </tr>
<%- end -%>
</table>

<%= paginate(@subjects, :param_name => :subject_page, :remote => true) -%>
</div>
