AMAZON_ACCESS_KEY = 'REPLACE_WITH_YOUR_AMAZON_KEY'
AMAZON_SECRET_ACCESS_KEY = 'REPLACE_WITH_YOUR_AMAZON_SECRET_KEY'
GOOGLE_APPLICATION_ID = 'REPLACE_WITH_YOUR_GOOGLE_APPLICATION_ID'

# Choose a locale from 'ca', 'de', 'fr', 'jp', 'uk', 'us'
#AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.com'
AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.jp'
AMAZON_HOSTNAME = 'www.amazon.co.jp'
