#ActionMailer::Base.delivery_method = :smtp

#ActionMailer::Base.smtp_settings = {
#  :address  => "localhost",
#  :port  => 25,
#  :domain  => 'library.example.jp',
#  :user_name  => "postmaster@library.example.jp",
#  :password  => 'yourpassword',
#  :authentication  => :login
#}
