<h1 class="title"><%= t('page.new', :model => t('activerecord.models.search_history')) -%></h1>

<%= error_messages_for :search_history -%>

<!--
<%- form_for(:search_history, :url => search_histories_path) do |f| -%>
<%- end -%>
-->

<%= link_to t('page.back'), search_histories_path -%>
