<h1><%= ('New search_history') -%></h1>

<%= error_messages_for :search_history -%>

<!--
<%- form_for(:search_history, :url => search_histories_path) do |f| -%>
<%- end -%>
-->

<%= link_to ('Back'), search_histories_path -%>