<%
  map = GoogleMap::Map.new
  map.markers << GoogleMap::Marker.new(:map => map, 
                                     :lat => library.geocode.latitude, 
                                     :lng => library.geocode.longitude,
                                     :html => h(library.display_name.localize))
%>
<%= map.to_html %>
<div style="width: 500px; height: 500px;">
  <%= map.div %>
</div>
