<div id="header_select_locale">
<form method='get'>
  <%- request.query_parameters.reject{|key, value| key == 'locale'}.each do |query, value| -%>
    <%= hidden_field_tag query, value -%>
  <%- end -%>
  <%= select_tag 'locale', options_from_collection_for_select(@available_languages, 'iso_639_1', 'native_name', @locale) -%>
  <%= submit_tag t('page.set_locale') -%>
</form>
</div>
