<div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.circulation') -%></h1>
<div id="content_list">

<ul>
  <li><%= link_to t('activerecord.models.checkout'), checkouts_path -%>
  <li><%= link_to t('page.overdue'), checkouts_path(:view => 'overdue') -%>
</ul>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
