<div id="sidebar">
  <ul>
  </ul>
</div>

<div class="inner">

<h1 class="title"><%= t('page.request') -%></h1>
<div class="inner">

<ul>
  <li><%= link_to t('activerecord.models.reserve'), user_reserves_path(current_user.login) -%></li>
  <li><%= link_to t('activerecord.models.purchase_request'), user_purchase_requests_path(current_user.login) -%></li>
  <li><%= link_to t('activerecord.models.question'), user_questions_path(current_user.login) -%></li>
</ul>

</div>
</div>
