<div id="submenu">
  <ul>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.subject') -%></h1>

<ul>
  <li><%= link_to t('activerecord.models.subject'), subjects_path -%></li>
  <!--
  <li><%= link_to t('activerecord.models.concept'), concepts_path -%></li>
  <li><%= link_to t('activerecord.models.place'), places_path -%></li>
  -->
</ul>
</div>
