div id="content_detail" class="ui-corner-all">
<h1 class="title"><%= t('page.under_construction') -%></h1>
<div id="content_list">

</div>
</div>

div id="submenu" class="ui-corner-all">
  <ul>
  </ul>
</div>
