<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), manifestation_expressions_path(@manifestation) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1><%= t('page.new', :model => t('activerecord.models.expression')) -%></h1>

<%= error_messages_for :expression -%>

<%- form_for(:expression, :url => manifestation_expressions_path(@manifestation)) do |f| -%>
  <%= render :partial => 'new', :locals => {:f => f} -%>
<%- end -%>

</div>
