<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), expressions_path -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">

<%- form_for(@expression) do |f| -%>
  <%= f.error_messages -%>

  <%= render :partial => 'form', :locals => {:f => f} -%>
<%- end -%>

</div>
</div>
