<div id="submenu">
  <ul>
    <li><%= link_to t('page.back'), patron_expressions_path(@patron) -%></li>
  </ul>
</div>

<div id="content_detail">
<h1 class="title"><%= t('page.new', :model => t('activerecord.models.expression')) -%></h1>
<div id="content_list">

<%- form_for(:expression, :url => patron_expressions_path(@patron)) do |f| -%>
  <%= f.error_messages -%>

  <%= render :partial => 'new', :locals => {:f => f} -%>
<%- end -%>

</div>
</div>
