<ul>
  <%- @manifestation.attachment_files.each do |attachment_file| -%>
    <li><%= link_to h(attachment_file.filename), attachment_file_path(attachment_file, :format => :download) -%></li>
  <%- end -%>
</ul>
