<div id="manifestation_book_jacket">
  <%- if manifestation -%>
    <%- cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :action_suffix => 'book_jacket', :locale => @locale, :role => current_user.try(:highest_role).try(:name)) do -%>
      <%= book_jacket(manifestation) -%>
    <%- end -%>
  <%- end -%>
</div>
