<div id="manifestation_book_jacket">
  <%- if manifestation -%>
    <%- cache(:controller => :manifestations, :action => :show, :id => manifestation.id, :page => 'book_jacket', :role => current_user_role_name, :locale => @locale) do -%>
      <%= book_jacket(manifestation) -%>
    <%- end -%>
  <%- end -%>
</div>
