<h3><%= ('Language') -%></h3>
<ul>
  <%- languages = params[:language].to_s.split -%>
  <%- @languages.each do |language| -%>
    <%- current_languages = languages.dup -%>
    <%- if @facet_results["language_f_facet"]["#{language.name}"] -%>
      <li>
      <%- if current_languages.include?(language.name) -%><strong><%- end -%>
        <%= link_to h("#{language.display_name} (" + @facet_results["language_f_facet"]["#{language.name}"].to_i.to_s + ")"), url_for(:params => params.merge(:page => nil, :language => (current_languages << language.name).uniq.join(' '), :form => nil, :view => nil)) -%>
        <%- if current_languages.include?(language.name) -%></strong><%- end -%>
      </li>
    <%- end -%>
  <%- end -%>
  <%- if params[:language] -%>
    <li><%= link_to ('Remove this facet'), url_for(:params => params.merge(:language => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
