<h4><%= t('activerecord.models.language') -%></h4>
<ul>
  <%- languages = params[:language].to_s.split -%>
  <%- current_languages = languages.dup -%>
  <%- @language_facet.rows.each do |facet| -%>
    <li>
      <%- language = Language.find(:first, :conditions => {:name => facet.value}) -%>
      <%- if current_languages.include?(language.name) -%><strong><%- end -%>
      <%= link_to h("#{language.display_name.localize} (" + facet.count.to_s + ")"), url_for(:params => params.merge(:page => nil, :language => (current_languages << language.name).uniq.join(' '), :carrier_type => nil, :view => nil)) -%>
      <%- if current_languages.include?(language.name) -%></strong><%- end -%>
    </li>
  <%- end -%>
  <%- if params[:language] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(:params => params.merge(:language => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
