<h4><%= t('activerecord.models.library') -%></h4>
<ul>
  <%- current_library = params[:library].to_s.strip -%>
  <%- @library_facet.rows.each do |facet| -%>
    <li>
    <%- library = Library.find(:first, :conditions => {:name => facet.value}) -%>
      <%- if current_library == library.name -%><strong><%- end -%>
      <%= link_to h("#{library.display_name.localize} (" + facet.count.to_s + ")"), url_for(:params => params.merge(:page => nil, :library => library.name, :view => nil)) -%>
      <%- if current_library == library.name -%></strong><%- end -%>
    </li>
  <%- end -%>
  <%- if params[:library] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(:params => params.merge(:library => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
