<h4><%= t('page.form') -%></h4>
<ul>
  <%- @manifestation_forms.each do |form| -%>
    <%- if @facet_results["formtype_f_facet"]["#{form.name}"] -%>
      <li>
      <%= form_icon(form) -%>
      <%- if params[:formtype] == form.name -%><strong><%- end -%>
        <%= link_to h("#{form.display_name} (" + @facet_results["formtype_f_facet"]["#{form.name}"].to_i.to_s + ")"), url_for(:params => params.merge(:formtype => form.name, :page => nil, :view => nil)) -%>
      <%- if params[:formtype] == form.name -%></strong><%- end -%>
      </li>
    <%- end -%>
  <%- end -%>
  <%- if params[:formtype] -%>
    <li><%= link_to t('page.remove_this_facet'), url_for(:params => params.merge(:formtype => nil, :page => nil, :view => nil)) -%></li>
  <%- end -%>
</ul>
