<iframe width="312" height="176" src="http://www.nicovideo.jp/thumb/<%=h @manifestation.nicovideo_id -%>" scrolling="no" style="border:solid 1px #CCC;" frameborder="0"><a href="http://www.nicovideo.jp/watch/<%=h @manifestation.nicovideo_id -%>"><%=h @manifestation.original_title -%></a></iframe>
