<tr>
  <td style="width: 200px"><%=h t('page.video') -%>:</td>
  <td style="width: 500px">
    <script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/<%=h @manifestation.nicovideo_id -%>"></script><noscript><a href="http://www.nicovideo.jp/watch/<%=h @manifestation.nicovideo_id -%>"><%=h @manifestation.original_title -%></a></noscript>
  </td>
</tr>
