  <tr>
    <td><%= t('worldcat.summary') -%> (WorldCat)</td>
    <td style="width:500px"><%= strip_tags(@worldcat_record[:summary]) -%></td>
  </tr>
  <tr>
    <td><%= t('worldcat.citation') -%> (WorldCat)</td>
    <td><%= strip_tags(@manifestation.worldcat_citation) -%></td>
  </tr>
