<h3><%= t('activerecord.models.subject') -%></h3>
<%- unless @facet_results["subject_f_facet"].blank? -%>
<ul>
  <%- @facet_results["subject_f_facet"].sort{|a,b| (b[1] <=> a[1]) * 2 + (a[0] <=> b[0]) }[0..20].each do |subject| -%>
    <li>
      <%= link_to "#{subject[0]} (#{subject[1].to_i})", url_for(:params => params.merge(:page => nil, :subject => subject[0], :view => nil)) -%>
    </li>
  <%- end -%>
  <%- if @subject_by_term -%>
    <li><%= link_to t('page.remove_this_facet'), params.merge(:subject => nil, :page => nil, :view => nil) -%></li>
  <%- end -%>
</ul>
<%- else -%>
  <p><%= t('page.no_subject') -%></p>
<%- end -%>
