<div id="tag_list">
  <%- if @manifestation.tags -%>
    <%- @manifestation.tags.each do |tag| -%>
      <%= link_to_tag(tag) -%>
      <%- if tag.is_deletable_by(current_user) -%>
        <%= link_to image_tag('/icons/tag_blue_edit.png', :alt => t('page.edit')), tag_path(tag.name) -%>
      <%- end -%>
    <%- end -%>
  <%- end -%>
  <%- if user_signed_in? -%>
    (<%= link_to_remote t('page.edit'), :update => 'tag_list', :url => {:controller => 'manifestations', :action => 'edit', :id => @manifestation.id, :mode => 'tag_edit'}, :method => :get -%>)
  <%- end -%>
</div>
