<div id="worldcat_list">
<%- unless @worldcat_results.blank? -%>
  <table class="index">
  <%- @worldcat_results.each do |record| -%>
    <tr>
      <td>
        <strong><%= link_to h(record[:title]), h(record[:link]) -%></strong>
        <br />
        <%- record[:author].each do |author| -%>
          <%= author -%>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
</table>
<%= paginate(@worldcat_results, :param_name => :worldcat_page, :remote => true) -%>
<%- end -%>
</div>
