<div id="content_detail" class="ui-corner-all">
<h1 class="title">Editing manifestation</h1>
<div id="content_list">

<%= render 'form' %>

</div>
</div>

<div id="submenu" class="ui-corner-all">
  <ul>
    <li><%= link_to t('enju.show'), @manifestation %></li>
    <li><%= link_to t('enju.back'), manifestations_path %></li>
  </ul>
</div>
