LIBRARY_WEB_HOSTNAME = 'localhost'
LIBRARY_WEB_PORT_NUMBER = '3000'

# ブックマークする時にアクセスするホストとポート番号
BOOKMARK_HOSTNAME = 'localhost'
BOOKMARK_PORT_NUMBER = '3001'

# Choose a locale from 'ca', 'de', 'fr', 'jp', 'uk', 'us'
# AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.com'
AMAZON_AWS_HOSTNAME = 'ecs.amazonaws.jp'
AMAZON_ACCESS_KEY = 'REPLACE_WITH_YOUR_AMAZON_KEY'
GOOGLE_APPLICATION_ID = 'REPLACE_WITH_YOUR_GOOGLE_APPLICATION_ID'

# パトロンの名前を入力する際、姓を先に表示する
FAMILY_NAME_FIRST = true

# Be sure to restart your server when you modify this file

# Specifies gem version of Rails to use when vendor/rails is not present
RAILS_GEM_VERSION = '2.3.2' unless defined? RAILS_GEM_VERSION

# Bootstrap the Rails environment, frameworks, and default configuration
require File.join(File.dirname(__FILE__), 'boot')

Rails::Initializer.run do |config|
  # Settings in config/environments/* take precedence over those specified here.
  # Application configuration should go into files in config/initializers
  # -- all .rb files in that directory are automatically loaded.

  # Add additional load paths for your own custom dirs
  # config.load_paths += %W( #{RAILS_ROOT}/extras )

  # Specify gems that this application depends on and have them installed with rake gems:install
  # config.gem "bj"
  # config.gem "hpricot", :version => '0.6', :source => "http://code.whytheluckystiff.net"
  # config.gem "sqlite3-ruby", :lib => "sqlite3"
  # config.gem "aws-s3", :lib => "aws/s3"
  config.gem "nokogiri"
  config.gem "chronic"
  config.gem "packet"
  config.gem "marc"
  config.gem "oai"
  #config.gem "jasper-rails"
  config.gem "icalendar"
  config.gem "RedCloth"
  #config.gem "rmagick", :lib => "RMagick"
  config.gem "extractcontent"
  config.gem "zoom"
  config.gem "isbn-tools", :lib => "isbn/tools"
  config.gem "barby"
  config.gem "rubyist-aasm", :lib => "aasm"
  config.gem "mislav-will_paginate", :lib => "will_paginate"
  #config.gem "jpmobile"
  config.gem "prawn"
  config.gem "rscribd"
  config.gem "flickr_fu"
  config.gem "opensearch"
  config.gem "friendly_id"
  config.gem "graticule"
  config.gem "calendar_date_select"
  config.gem "mdarby-scribd_fu", :lib => "scribd_fu"
  config.gem "mdarby-restful_acl", :lib => "restful_acl_controller"
  config.gem "shuber-attr_encrypted", :lib => "attr_encrypted"
  config.gem "system_timer"
  config.gem "image_science"
  config.gem "johnsbrn-has_many_polymorphs", :lib => "has_many_polymorphs"
  config.gem "authlogic"
  config.gem "money"
  config.gem "javan-whenever", :lib => false
  #config.gem "rufus-scheduler", :lib => "rufus/scheduler"
  config.gem "mbleigh-acts-as-taggable-on", :lib => "acts-as-taggable-on"
  config.gem "mloughran-api_cache", :lib => "api_cache"
  config.gem "memcache-client", :lib => "memcache"
  config.gem "shared-mime-info"
  config.gem "authlogic-oid", :lib => "authlogic_openid"
  config.gem "tobi-delayed_job", :lib => "delayed_job"

  # Only load the plugins named here, in the order given (default is alphabetical).
  # :all can be used as a placeholder for all plugins not explicitly named
  # config.plugins = [ :exception_notification, :ssl_requirement, :all ]

  # Skip frameworks you're not going to use. To use Rails without a database,
  # you must remove the Active Record framework.
  # config.frameworks -= [ :active_record, :active_resource, :action_mailer ]

  # Activate observers that should always be running
  # config.active_record.observers = :cacher, :garbage_collector, :forum_observer

  # Set Time.zone default to the specified zone and make Active Record auto-convert to this zone.
  # Run "rake -D time" for a list of tasks for finding time zone names.
  config.time_zone = 'UTC'
  #config.time_zone = 'Tokyo'

  # The default locale is :en and all translations from config/locales/*.rb,yml are auto loaded.
  # config.i18n.load_path += Dir[Rails.root.join('my', 'locales', '*.{rb,yml}')]
  # config.i18n.default_locale = :de
end

Geocode.geocoder = Graticule.service(:google).new GOOGLE_APPLICATION_ID
Money.default_currency = "JPY"
RAILS_DEFAULT_LOGGER.auto_flushing = 1
APICache.start

#require 'jasper-rails'
require 'solr_modified'
require 'tag_modified'
require 'jcode'
require 'nkf'
require 'csv'
require 'digest/sha1'
require 'barby/outputter/png_outputter'
require 'wakati'
require 'search_query'
require 'restful_acl_controller'
require 'tag_list'
require 'hostname'
