common: &common
  solr:
    hostname: 127.0.0.1
    port: 8982

production:
  <<: *common
  solr:
    port: 8983
  auto_commit_after_request: false

development:
  <<: *common
  solr:
    port: 8982

test:
  <<: *common
  solr:
    port: 8981
