<p id="notice"><%= notice %></p>

<p>
  <b>Type of identifier:</b>
  <%= @identifier.type_of_identifier %>
</p>


<%= link_to 'Edit', edit_identifier_path(@identifier) %> |
<%= link_to 'Back', identifiers_path %>
