#require "ruby-prof"
# Filters added to this controller apply to all controllers in the application.
# Likewise, all the methods added will be available for all controllers.

class ApplicationController < ActionController::Base
  helper :all # include all helpers, all the time
  #around_filter :profile

  # See ActionController::RequestForgeryProtection for details
  # Uncomment the :secret if you're not using the cookie session store
  protect_from_forgery :secret => 'REPLACE_WITH_YOUR_SECRET_PHRASE'

  # See ActionController::Base for details
  # Uncomment this to filter the contents of submitted sensitive data parameters
  # from your application log (in this case, all fields with names like "password").
  # filter_parameter_logging :password
  
  # Pick a unique cookie name to distinguish our session data from others'
  include AuthenticatedSystem
  # You can move this into a different controller, if you wish.  This module gives you the require_role helpers, and others.
  include RoleRequirementSystem

  #include ExceptionNotifiable

  filter_parameter_logging :password, :full_name, :address, :date_of_birth, :date_of_death, :zip_code

  #before_filter :login_from_cookie
  before_filter :get_library_group, :get_user_role
  #session :session_key => '_catalog_session_id'

  def get_library_group
    @library_group = LibraryGroup.find(1)
  end

  def get_user_role
    if logged_in?
      @role = current_user.highest_role
    else
      @role = Role.find(1)
    end
  end

  def reset_params_session
    session[:params] = nil
  end

  def not_found
    render(:file => "#{RAILS_ROOT}/public/404.html", :status => "404 Not Found")
    return
  end

  def access_denied
    respond_to do |format|
      format.html do
        store_location
        if logged_in?
          render(:file => "#{RAILS_ROOT}/public/403.html", :status => "403 Forbidden")
        else
          redirect_to new_session_url
          #render(:file => "#{RAILS_ROOT}/public/401.html", :status => "401 Unauthorized")
        end
      end
      # format.any doesn't work in rails version < http://dev.rubyonrails.org/changeset/8987
      # you may want to change format.any to e.g. format.any(:js, :xml)
      format.any do
        request_http_basic_authentication 'Web Password'
      end
    end
  end

  def get_patron
    @patron = Patron.find(params[:patron_id]) if params[:patron_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_work
    @work = Work.find(params[:work_id]) if params[:work_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_item
    @item = Item.find(params[:item_id]) if params[:item_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_expression
    @expression = Expression.find(params[:expression_id]) if params[:expression_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_manifestation
    @manifestation = Manifestation.find(params[:manifestation_id]) if params[:manifestation_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_manifestation_form
    @manifestation_form = ManifestationForm.find(params[:manifestation_form_id]) if params[:manifestation_form_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_shelf
    @shelf = Shelf.find(params[:shelf_id], :include => :library) if params[:shelf_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_basket
    @basket = Basket.find(params[:basket_id]) if params[:basket_id]
  rescue ActiveRecord::RecordNotFound
    access_denied
  end

  def get_patron_merge_list
    @patron_merge_list = PatronMergeList.find(params[:patron_merge_list_id]) if params[:patron_merge_list_id]
  rescue ActiveRecord::RecordNotFound
    access_denied
  end

  def get_work_merge_list
    @work_merge_list = WorkMergeList.find(params[:work_merge_list_id]) if params[:work_merge_list_id]
  rescue ActiveRecord::RecordNotFound
    access_denied
  end

  def get_expression_merge_list
    @expression_merge_list = ExpressionMergeList.find(params[:expression_merge_list_id]) if params[:expression_merge_list_id]
  rescue ActiveRecord::RecordNotFound
    access_denied
  end

  def get_user
    @user = User.find(:first, :conditions => {:login => params[:user_id]}, :include => :user_group) if params[:user_id]
    raise ActiveRecord::RecordNotFound unless @user
    return @user

  rescue ActiveRecord::RecordNotFound
    access_denied
    #not_found
  end

  def get_user_if_nil
    @user = User.find(:first, :conditions => {:login => params[:user_id]}, :include => :user_group) if params[:user_id]
  end
  
  def get_user_group
    @user_group = UserGroup.find(params[:user_group_id]) if params[:user_group_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end
                    
  def get_library
    @library = Library.find(:first, :conditions => {:short_name => params[:library_id]}) if params[:library_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_libraries
    @libraries = Library.find(:all, :order => 'position') rescue []
  end

  def get_library_group
    #@library_group = LibraryGroup.find(params[:library_group_id]) if params[:library_gruop_id]
    @library_group = LibraryGroup.find(1)
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_question
    @question = Question.find(params[:question_id]) if params[:question_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_event
    @event = Event.find(params[:event_id]) if params[:event_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_bookstore
    @bookstore = Bookstore.find(params[:bookstore_id]) if params[:bookstore_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_subject
    @subject = Subject.find(params[:subject_id]) if params[:subject_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_classification
    @classification = Classification.find(params[:classification_id]) if params[:classification_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_subscription
    @subscription = Subscription.find(params[:subscription_id]) if params[:subscription_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_subscription_list
    @subscription_list = SubscriptionList.find(params[:subscription_list_id]) if params[:subscription_list_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_order_list
    @order_list = OrderList.find(params[:order_list_id]) if params[:order_list_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_purchase_request
    @purchase_request = PurchaseRequest.find(params[:purchase_request_id]) if params[:purchase_request_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_checkout_type
    @checkout_type = CheckoutType.find(params[:checkout_type_id]) if params[:checkout_type_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  def get_inventory_file
    @inventory_file = InventoryFile.find(params[:inventory_file_id]) if params[:inventory_file_id]
  rescue ActiveRecord::RecordNotFound
    not_found
  end

  # 本人と図書館員のみが参照できる
  def authorized_content
    user = get_user_if_nil
    return true if user == current_user
    return true if current_user.has_role?('Librarian')
    access_denied
  end

  # ユーザを指定すれば誰でも参照できる
  def public_content
    return true if user = get_user
    access_denied
  end

  # 本人のみが参照できる
  def private_content
    user = get_user
    return true if user == current_user
    access_denied unless performed?
  end

  def csv_convert_charset
    if params[:format] == 'ics'
      response.body = NKF::nkf('-w -Lw', response.body)
    elsif params[:format] == 'csv'
      if params[:lang] == 'ja'
        headers["Content-Type"] = "text/csv; charset=Shift_JIS"
        response.body = NKF::nkf('-Ws', response.body)
      end
    end
  end

  def check_client_ip_address
    return true if LibraryGroup.find(1).my_networks?(request.remote_ip)
    access_denied
  end

  def check_dsbl
    return true if LibraryGroup.find(1).my_networks?(request.remote_ip)
    begin
      reversed_address = request.remote_ip.split(/\./).reverse.join(".")
      result = Socket.gethostbyname("#{reversed_address}.niku.2ch.net.").last.unpack("C4").join(".")
      raise SocketError unless result =~ /^127\.0\.0\./
      access_denied
    rescue SocketError
      nil
    end
  end

  def profile
    return yield if params[:profile].nil?
    result = RubyProf.profile { yield }
    printer = RubyProf::GraphPrinter.new(result)
    out = StringIO.new
    printer.print(out, 0)
    response.body.resubject out.string
    response.content_type = "text/plain"
  end

end
