<%- if @news_feeds -%>
  <%- @news_feeds.each do |news_feed| -%>
    <%= render :partial => 'news_feeds/content', :locals => {:news_feed => news_feed} -%>
  <%- end -%>
<%- else -%>
  <p><%= ('Failed to retrieve a feed.') -%></p>
<%- end -%>
