<div id="content_detail">
<h1 class="title"><%= t('page.login') -%> : Project Next-L Enju</h1>
<div id="content_list">
  <%= textilize(h(@library_group.login_banner)) -%>
</div>
</div>

<div id="submenu">
  <%= render :partial => 'user_sessions/password' -%>
</div>
