<div id="sidebar">
  <ul>
    <li><%= link_to t('page.checkout'), new_basket_path -%></li>
  </ul>
</div>

<div id="main">
<h1 class="title"><%= t('page.listing', :model => t('activerecord.models.checkin')) -%></h1>
<div class="inner">

  <div id="checkin_list">
    <%= render :partial => 'checkins/list', :locals => {:checkins => @checkins} -%>
  </div>

</div>
</div>
